@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa',cursive;
    color: white;

}   

.active-page{
    
    animation: menuglow 1s ease-in-out infinite alternate;
   
}
body{
    background:black;
}

section{ 
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background: url("abilitybg.png"); */

}

#about{
    background: url("abilitybg.png")
}
section .container{
    margin:50px;
}

section .container h1{
    font-size:80px;
    text-align: center;
    text-shadow: 10px 10px 30px cyan;
}

section .cards .text-card h3{
    font-size: 30px;
    text-align: center;
    color: black;
}

section p{
    color: black;
    text-align: center;
    margin-top: 10px;
}
section .cards{
    display:flex;
}

section .cards .text-card{
    background: rgba(240, 248, 255,0.8);
    margin: 20px;
    padding:40px;
    width: 300px;
    cursor:pointer;
    transition: 0.3s ease-out;
}

section .cards .text-card:hover{
    box-shadow: 0px 0px 30px 1px #008b8b;
    transform: scale(1.1);
}

.text{
    position: relative;
    z-index: 100;
    text-align: center;
    margin-left:32%;
    margin-top: 5%;
}

.text h1{
    text-align: center;
    font-size: 7em;
    font-weight: bolder;
    line-height: 1em;
    letter-spacing: 10px;
    padding: 20px;
    animation: animate 1s ease-in-out infinite alternate;
    
}

.text p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;    margin: 20px 0;
    z-index: 1000;
    color: white;
    font-weight: bold;

}

.text a{
    display: inline-block;
    margin-top: 30px;
    font-size: 1em;
    background: aliceblue;
    padding: 15px 30px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
    border-radius: 25px;
}

.text a:hover {
    letter-spacing: 3px;
}
.showcase{
    transition: 0.7s;
    position: relative;
    right: 0;
    width: 100%;
    min-height:100vh;
    padding:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: 2;

}

.showcase header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 70px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.menu ul{
    position: relative;
    right: 0;
    list-style:none;
    text-decoration: none;
    display: flex;

}

.menu ul li a{
    text-decoration: none;
    font-size: 23px;margin-left: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
}

.menu ul li a:hover{
    color: rgb(125, 102, 225);
    text-shadow: 0px 0px 40px aliceblue;
    letter-spacing: 2px;
    animation: menuglow 1s ease-in-out infinite alternate;
    
    
}

/* .menu {
    background-image: linear-gradient(to right,rgb(0, 0, 0),#0e112a);
    position:absolute;
    top:0;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    opacity: 0.7;
    
    
}

.menu ul{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
    transition: 0.6s;
}

.menu ul li a:hover{
    color: rgb(125, 102, 225);
    text-shadow: 0px 0px 20px aliceblue;
    
} */

/* .toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url('menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    z-index: 10000;

}

.toggle.active {
    background: url('close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
} */

.logo{
    animation: animate 1s ease-in-out infinite alternate;
    font-size: 2rem;
    text-transform: uppercase;
}

.social{
    position: fixed;
    bottom: 25px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a{
    display: inline-block ;
    margin-right: 50px;
    transition: 0.3s ;
    transition-timing-function: ease-out;
    transform: scale(0.8);
}

.social li a:hover{
    transform: scale(1) translateY(-10px);

}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay{
    mix-blend-mode: overlay;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: rgba(15, 2, 72, 0.2)
}

.moveimg {
    position: relative;
    margin-left: 50px;
    padding-bottom: 20px;
}

.reveal{
    position:relative;
    transform: translateY(250px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

 /* cool stuff  */

@keyframes animate{
    from{
        text-shadow: 0 0 0px #c8362e;
    }
    to{
        text-shadow: 0 0 50px #c8362e,
        0 0 20px #c8362e;
    }
}

@media screen and (max-width: 768px){
    .showcase,
    .showcase header{
        padding: 40px;
    }
    .text h1{
        font-size: 5em;
    }
    .text p{
        font-size: -1em;
    }
    .text{
        margin-left: 10%;
    }
    
}

@media (max-width: 900px){
    section h1{
        font-size:40px;
    }
    section .cards{
        flex-direction: column;
    }

    
}


@keyframes menuglow{
    from{
        text-shadow: 0 0 10px cyan;
    }
    to{
        text-shadow: 0 0 60px cyan,0 0 20px cyan;
    }
}